
<button (click)="onResetClicked()">回到根</button>
<button (click)="onParentClicked()">上一層</button>
<hr>
<ng-container *ngFor="let item of viewModel.itemList; let i=index">

  <hr *ngIf="viewModel.levelOf(item) === 1">
  <label>{{ "＞".repeat(viewModel.levelOf(item)) }}</label>
  <button (click)="onTitleClicked(item)">{{ item.title }}</button>
  <label *ngIf="item.markdown" style="background-color:aqua;">[M]</label>
  <label *ngIf="item.isChecked" style="background-color:blueviolet;">[O]</label>
  <label *ngIf="!item.isChecked" style="background-color:chartreuse;">[X]</label>
  <br>

</ng-container>

<markdown *ngIf="markdown" [src]="markdown"></markdown>
